.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Pantalla completa */
  padding: 20px;
}

.login-box {
  width: 100%;
  max-width: 400px; /* Ancho máximo del formulario */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.login-input {
  width: 100%; /* Input ocupa el 100% del contenedor */
  margin-bottom: 16px;
}

.login-button {
  width: 100%; /* Botón ocupa el 100% del contenedor */
}
