<h1>
  {{currentEmployee.idEmpleado ? 'Editar' : 'Crear'}}
  <small>Empleado</small>
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form class="grid" [formGroup]="formEmployee" (ngSubmit)="onSubmit()">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              required
              formControlName="nombreEmpleado"
            />
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Sueldo</mat-label>
            <input matInput type="number" formControlName="sueldoEmpleado" />
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Perfil profesional</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              formControlName="descripcion"
            >
            </textarea>
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Departamento</mat-label>
            <div formGroupName="departamento">
              <mat-select required formControlName="idDepartamento">
                @for (depto of departaments; track $index) {
                <mat-option [value]="depto.idDepartamento">
                  {{ depto.nombreDepartamento }}</mat-option
                >
                }
              </mat-select>
            </div>
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Habilidades</mat-label>
            <textarea
              matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              formControlName="habilidades"
            >
            </textarea>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Link Imagen</mat-label>
            <input matInput type="text" formControlName="imagenUrl" />
          </mat-form-field>
        </form>
        <div class="flex justify-content-between">
          @if (currentEmployee.idEmpleado) {
          <button mat-flat-button color="warn" class="di" (click)="onDelete()">
            <mat-icon>delete</mat-icon>
            Eliminar
          </button>
        }
        <div></div>
          <button mat-flat-button color="primary" (click)="onSubmit()">
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">
    <mat-card>
      <img
        [src]="currentEmployee | ImgPipe"
        alt="Img Empleado"
        mat-card-image
      />
    </mat-card>
    <pre>
      {{ currentEmployee | json }}
    </pre>
  </div>
</div>
